body {
  background-color: #f5f5f5;
  color: #000000cc;
  font-family: -apple-system, Helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
a {
  color: #000000cc;
}
a:hover {
  color: #000000cc;
  text-decoration: none;
}
h1 {
  font-size: 48px;
}
#landing {
  margin: 50px auto;
  max-width: 700px;
}
#landing ul#links {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding-left: 0;
}
#landing ul#links li {
  font-family: -apple-system, helvetica, arial, sans-serif;
  margin-right: 25px;
  padding-bottom: 10px;
}
#landing ul#links li a:hover {
  text-decoration: none;
}
#landing ul#links li#contact {
  font-family: courier;
  margin: 0;
  padding-top: 10px;
}
#landing .section ul {
  padding-left: 15px;
}
.nav,
#papers {
  margin: 0 auto 100px auto;
  max-width: 700px;
}
#papers {
  line-height: 1.5em;
  margin-top: 83px;
}
#papers h1 {
  margin-bottom: 40px;
  margin-top: 0;
}
#papers .paper-row {
  margin-bottom: 30px;
}
#papers .paper-title,
#papers .paper-authors,
#papers .paper-venue,
#papers .paper-links {
  margin: 0;
}
#papers .pub-links {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
#papers .pub-links li {
  display: inline;
  padding-right: 10px;
}
.nav {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 24px;
}
.nav a {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
  font-size: 14px;
}
.nav a:hover {
  text-decoration: underline;
}
.nav ul {
  list-style-type: none;
  padding: 0;
}
.nav ul li {
  display: inline;
  margin-right: 10px;
  line-height: 1.5em;
}
