<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <meta name="description" content="Passionate data storyteller." />
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="author" content="Carlos Lezama" />

        <link href="/css/blog.css" rel="stylesheet" />
        <link href="/css/code.css" rel="stylesheet" />
        <link href="/css/markdown.css" rel="stylesheet" />
        <link href="/img/icon.png" rel="icon" />
        <link href="/img/icon.png" rel="shortcut icon" />

        {% include mathjax.html %}
    </head>
    <body>
        <div class="content">
            {% include nav.html %}
            <div class="front-matter">
                <div class="wrap">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.subtitle }}</h4>
                    <div class="bylines">
                        <div class="byline">
                            <h3>Fecha de publicación</h3>
                            <p>{{ page.date | date: '%d/%m/%Y' }}</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="wrap article">{{ content }}</div>
            <div id="bibliography">
                <div class="wrap">
                    <h4>Referencias</h4>
                    {% bibliography --cited %}
                </div>
            </div>
        </div>
    </body>
</html>
